// FONT SETTINGS ==============================================================================================================================================================================================================================================================================
  $fontFamily: 'Arial Black'; //main font family

  $fontSize: 14; // default font size

  $mainColor: #d04d4d; //main font color


// PAGE SETTINGS ===============================================================================================================================================================================================================================================================================================

  //adaptive type
  // 1 = responsiveness (container has no breakpoints)
  // 2 = by breakpoints (the container changes its width by breakpoints)
  $responsiveType: 1;

  // minimum width of page
  $minWidth: 320;

  // maximum width of page
  $maxWidth: 1980;

  // width of bounding container(0 = no padding)
  $maxWidthContainer: 1200;

  // general padding of container
  //(30 =  15px to left and right, 0 = no padding)
  $containerPadding: 30;

  //The width of the first breakpoint trigger
  $containerWidth: $maxWidthContainer + $containerPadding;
